﻿body {
}

div.main-disp
{
	margin:0 auto;
}

div.lbl_prog
{
	width:80%;
	min-width:1024px;
}

.start-disp
{
	position:relative;
	top:-30px;
	left:20px;
}

.total-disp
{
	text-align:left;
	position:relative;
	top:-30px;
	left:30px;
}

.ver-line
{
	position:relative;
	left:35px;
	top:4px;
}

.hor-line
{
	position:relative;
	left:0px;
	top:12px;
}
.power-plant
{
	position:relative;
	left:100px;
	top:12px;
}

.pcis-logo
{
	position:relative;
	left:100px;
	top:170px;
}

div.plant_generate
{
	text-align:left;
	position:relative;
	z-index:100;
	top:-80px;
	left:-120px;
	height:0;
}

div.power_gauge
{
	text-align:left;
	position:relative;
	width:1024px;
	top:500px;
	left:200px;
	height:0;
}

div#draggable
{
	width:300px;
}
.warnLight
{
	position:absolute;
}
.mapItemDataSub
{
	text-align:left;
	margin-left:5px;
}
.lblSubDetail
{
	text-align:left;
	margin-left:5px;
}
