/* begin Page */

img
{
  filter: expression(artFixPNG(this));
}/* end Page */

/* begin Box, Sheet */
.art-sheet-tl
{
  clip: rect(auto 34px 34px auto);
}

.art-sheet-tr
{
  clip: rect(auto auto 34px 34px);
}

.art-sheet-bl
{
  clip: rect(34px 34px auto auto);
}

.art-sheet-br
{
  clip: rect(34px auto auto 34px);
}

.art-sheet-tc
{
  clip: rect(auto auto 34px auto);
}

.art-sheet-bc
{
  clip: rect(34px auto auto auto);
}

.art-sheet-cr
{
  clip: rect(auto auto auto 34px);
}

.art-sheet-cl
{
  clip: rect(auto 34px auto auto);
}

.art-sheet-body
{
  zoom: 1;
}
/* end Box, Sheet */

/* begin Menu */
.art-nav .r
{
  clip: rect(auto auto auto 879px);
}

/* end Menu */

/* begin MenuItem */
.art-menu a .r
{
  clip: rect(auto auto auto 405px);
}
/* end MenuItem */

/* begin Layout */
.art-content-layout, .art-content-layout-row {display: block;}
.art-content-layout, .art-content-layout-row {zoom: 1;}
/* end Layout */

/* begin Box, Block, VMenuBlock */
.art-vmenublock-tl
{
  clip: rect(auto 1px 1px auto);
}

.art-vmenublock-tr
{
  clip: rect(auto auto 1px 1px);
}

.art-vmenublock-bl
{
  clip: rect(1px 1px auto auto);
}

.art-vmenublock-br
{
  clip: rect(1px auto auto 1px);
}

.art-vmenublock-tc
{
  clip: rect(auto auto 1px auto);
}

.art-vmenublock-bc
{
  clip: rect(1px auto auto auto);
}

.art-vmenublock-cr
{
  clip: rect(auto auto auto 1px);
}

.art-vmenublock-cl
{
  clip: rect(auto 1px auto auto);
}

.art-vmenublock-body
{
  zoom: 1;
}
/* end Box, Block, VMenuBlock */

/* begin Box, Box, VMenuBlockContent */

.art-vmenublockcontent-body
{
  zoom: 1;
}

.art-vmenublockcontent-body
{
  zoom: 1;
}
/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.art-vmenu .art-vmenu-separator, ul.art-vmenu .art-vmenu-separator-span, ul.art-vmenu li.art-vsubmenu-separator, ul.art-vmenu .art-vsubmenu-separator-span
{
  zoom: 1;
  overflow: hidden;
  float: left;
  width: 100%;
}

.art-vmenu ul, .art-vmenu li
{
  zoom: 1;
}

ul.art-vmenu a .r
{
  clip: rect(auto auto auto 857px);
}
/* end VMenuItem */

/* begin Box, Block */

.art-block-body
{
  zoom: 1;
}
/* end Box, Block */

/* begin Box, BlockContent */
.art-blockcontent-tl
{
  clip: rect(auto 1px 1px auto);
}

.art-blockcontent-tr
{
  clip: rect(auto auto 1px 1px);
}

.art-blockcontent-bl
{
  clip: rect(1px 1px auto auto);
}

.art-blockcontent-br
{
  clip: rect(1px auto auto 1px);
}

.art-blockcontent-tc
{
  clip: rect(auto auto 1px auto);
}

.art-blockcontent-bc
{
  clip: rect(1px auto auto auto);
}

.art-blockcontent-cr
{
  clip: rect(auto auto auto 1px);
}

.art-blockcontent-cl
{
  clip: rect(auto 1px auto auto);
}

.art-blockcontent-body
{
  zoom: 1;
}
/* end Box, BlockContent */

/* begin Button */
.art-button-wrapper .art-button-r
{
  clip: rect(auto auto auto 400px);
}
/* end Button */

/* begin Box, Post */
.art-post-tl
{
  clip: rect(auto 5px 5px auto);
}

.art-post-tr
{
  clip: rect(auto auto 5px 5px);
}

.art-post-bl
{
  clip: rect(5px 5px auto auto);
}

.art-post-br
{
  clip: rect(5px auto auto 5px);
}

.art-post-tc
{
  clip: rect(auto auto 5px auto);
}

.art-post-bc
{
  clip: rect(5px auto auto auto);
}

.art-post-cr
{
  clip: rect(auto auto auto 5px);
}

.art-post-cl
{
  clip: rect(auto 5px auto auto);
}

.art-post-body
{
  zoom: 1;
}
/* end Box, Post */

/* begin PostContent */
.art-postcontent
{
  height: 1%;
}
/* end PostContent */

/* begin Footer */
.art-footer-r
{
  clip: rect(auto auto auto 5px);
}

/* end Footer */

/* begin LayoutCell, content */
.art-content {width: auto;}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell
{
  display: block;
  position:relative;
  float: left;
  clear: right;
}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell {  zoom:1; }
.art-layout-cell .art-layout-cell{ float: none; clear: both;}
/* end LayoutCell, content */


