/*
Theme Name: ATT
Theme URI: 
Description: Artisteer-generated theme
Version: 1.0
Author: 
Author URI: 
Tags: fixed width, left sidebar, two columns, valid XHTML, widgets
*/

/* begin Page */
/* Created by Artisteer v3.0.0.33215 */

#art-main, table
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

body
{
  margin: 0 auto;
  padding: 0;
  color: #242B2D;
  background-color: #DADFE1;
  background-image: url('images/Bottom_texture.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top left;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
    font-family: Arial, Helvetica, Sans-Serif;
}

.art-postcontent p
{
    margin: 12px 0 12px 0;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 32px;
}

.art-postcontent a
{
  text-decoration: none;
  color: #537C36;
}

.art-postcontent a:link
{
  text-decoration: none;
  color: #537C36;
}

.art-postcontent a:visited, .art-postcontent a.visited
{

  color: #687B82;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{


  color: #92C6E2;
}


.art-postcontent h1
{
 
   color: #4F5E63;
 
}

.art-postcontent h2
{
    color: #4F5E63;
 
   font-size: 22px;   
}

.art-postcontent h3
{
 
  color: #687B82; 
  font-size: 18px;    
}

.art-postcontent h4
{
 
   color: #242B2D; 
   font-size: 16px;   
}

.art-postcontent h5
{
 
   color: #242B2D;   
   font-size: 13px;
}

.art-postcontent h6
{
 
   color: #242B2D;
   font-size: 11px;      
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

#art-main
{
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
}


#art-page-background-middle-texture
{
  position: absolute;
  background-image: url('images/Middle_texture.jpg');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: fixed;
  width:100%;
  min-height:100%;
  overflow:visible;
  
}


.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1px;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.art-sheet
{
  position: relative;
  margin: 0 auto;
  min-width: 41px;
  min-height: 41px;
}

.art-sheet-body
{
  position: relative;
  padding: 8px;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl, .art-sheet-tc, .art-sheet-bc,.art-sheet-cr, .art-sheet-cl
{
  position: absolute;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl
{
  width: 68px;
  height: 68px;
  background-image: url('images/sheet_s.png');
}

.art-sheet-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 34px, 34px, auto);
}

.art-sheet-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 34px, 34px);
}

.art-sheet-bl
{
  bottom: 0;
  left: 0;
  clip: rect(34px, 34px, auto, auto);
}

.art-sheet-br
{
  bottom: 0;
  right: 0;
  clip: rect(34px, auto, auto, 34px);
}

.art-sheet-tc, .art-sheet-bc
{
  left: 34px;
  right: 34px;
  height: 68px;
  background-image: url('images/sheet_h.png');
}

.art-sheet-tc
{
  top: 0;
  clip: rect(auto, auto, 34px, auto);
}

.art-sheet-bc
{
  bottom: 0;
  clip: rect(34px, auto, auto, auto);
}

.art-sheet-cr, .art-sheet-cl
{
  top: 34px;
  bottom: 34px;
  width: 68px;
  background-image: url('images/sheet_v.png');
}

.art-sheet-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 34px);
}

.art-sheet-cl
{
  left: 0;
  clip: rect(auto, 34px, auto, auto);
}

.art-sheet-cc
{
  position: absolute;
  top: 34px;
  left: 34px;
  right: 34px;
  bottom: 34px;
  background-image: url('images/sheet_c.png');
}

.art-sheet
{
  top: 10px !important;
  margin-bottom: 10px !important;
  cursor:auto;
  width: 1024px;
}


/* end Box, Sheet */

/* begin Menu */
/* menu structure */

.art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover
{
    outline: none;
}

.art-menu, .art-menu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.art-menu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background: none;
}

.art-menu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.art-menu li li
{
  float: none;
}

.art-menu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background: none;
}

.art-menu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.art-menu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.art-menu:after, .art-menu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.art-menu, .art-menu ul
{
  min-height: 0;
}

.art-menu ul
{
  background-image: url('images/spacer.gif');
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.art-menu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}




/* menu structure */

.art-menu
{
  padding: 8px 5px 0 5px;
}

.art-nav
{
  position: relative;
  min-height: 34px;
  z-index: 100;
}

.art-nav .l, .art-nav .r
{
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100%;
  background-image: url('images/nav.png');
}

.art-nav .l
{
  left: 0;
  right: 5px;
}

.art-nav .r
{
  right: 0;
  width: 1008px;
  clip: rect(auto, auto, auto, 1003px);
}


/* end Menu */

/* begin MenuItem */
.art-menu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 26px;
  cursor: pointer;
  text-decoration: none;
}


.art-menu ul li
{
    margin:0;
    clear: both;
}


.art-menu a .r, .art-menu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 88px;
  background-image: url('images/menuitem.png');
}

.art-menu a .l
{
  left: 0;
  right: 5px;
}

.art-menu a .r
{
  width: 410px;
  right: 0;
  clip: rect(auto, auto, auto, 405px);
}





.art-menu a .t
{
  color: #2D431E;
  padding: 0 8px;
  margin: 0 5px;
  line-height: 26px;
  text-align: center;
}

.art-menu a:hover .l, .art-menu a:hover .r
{
  top: -31px;
}

.art-menu li:hover>a .l, .art-menu li:hover>a .r
{
  top: -31px;
}

.art-menu li:hover a .l, .art-menu li:hover a .r
{
  top: -31px;
}
.art-menu a:hover .t
{
  color: #DADFE1;
}

.art-menu li:hover a .t
{
  color: #DADFE1;
}

.art-menu li:hover>a .t
{
  color: #DADFE1;
}


.art-menu a.active .l, .art-menu a.active .r
{
  top: -62px;
}

.art-menu a.active .t
{
  color: #DCEBD1;
}
/* end MenuItem */

/* begin MenuSeparator */
.art-menu .art-menu-li-separator
{
  display: block;
  width: 6px;
  height:26px;
}
/* end MenuSeparator */

/* begin MenuSubItem */
.art-menu ul a
{
  display: block;
  text-align: center;
  white-space: nowrap;
  height: 26px;
  width: 180px;
  overflow: hidden;
  line-height: 26px;
  background-image: url('images/subitem.png');
  background-position: left top;
  background-repeat: repeat-x;
  border-width: 1px;
  border-style: solid;
  border-color: #BBC5C9;
}

.art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

.art-menu ul a, .art-menu ul a:link, .art-menu ul a:visited, .art-menu ul a:hover, .art-menu ul a:active, .art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 26px;
  color: #2D431E;
  font-size: 12px;
  margin:0;
  padding:0;
}

.art-menu ul li a:hover
{
  color: #0B0D0E;
  border-color: #A4B1B6;
  background-position: 0 -26px;
}

.art-menu ul li:hover>a
{
  color: #0B0D0E;
  border-color: #A4B1B6;
  background-position: 0 -26px;
}

.art-nav .art-menu ul li a:hover span, .art-nav .art-menu ul li a:hover span span
{
  color: #0B0D0E;
}

.art-nav .art-menu ul li:hover>a span, .art-nav .art-menu ul li:hover>a span span
{
  color: #0B0D0E;
}


/* end MenuSubItem */

/* begin Header */
div.art-header
{
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
}


div.art-header-center
{
	position: relative;
	width: 884px;
	left:50%;
}



div.art-header-jpeg
{
  position: absolute;
  top: 0;
  left:-50%;
  width: 884px;
  height: 100px;
  background-image: url('images/header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}


/* end Header */

/* begin Logo */
div.art-logo
{
  display: block;
  position: absolute;
  left: 10px;
  top: 33px;
  width: 787px;
}

h1.art-logo-name
{
  display: block;
  text-align: left;
}

h1.art-logo-name, h1.art-logo-name a, h1.art-logo-name a:link, h1.art-logo-name a:visited, h1.art-logo-name a:hover
{
  font-family: "Century Gothic",Arial, Helvetica, Sans-Serif;
  font-size: 36px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #123344 !important;
}


h2.art-logo-text, 
h2.art-logo-text a,
h2.art-logo-text a:link,
h2.art-logo-text a:visited,
h2.art-logo-text a:hover
{
  font-size: 11px;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
  color: #123344 !important;
}

h2.art-logo-text
{
  display: block;
  text-align: left;
}
/* end Logo */

/* begin Layout */
.art-content-layout
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding:0 !important;
}
.art-layout-cell, .art-content-layout-row
{
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none !important;
  margin:0 !important;
  padding:0 !important;
}
.art-content-layout .art-content-layout{width: auto;margin:0;}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell{display: table-cell;}
.art-layout-cell .art-layout-cell{display: block;}
.art-content-layout-row {display: table-row;}
.art-layout-glare{position:relative;}/* end Layout */

/* begin Box, Block, VMenuBlock */
.art-vmenublock
{
  position: relative;
  margin: 0 auto;
  min-width: 3px;
  min-height: 3px;
}

.art-vmenublock-body
{
  position: relative;
  padding: 1px;
}

.art-vmenublock-tr, .art-vmenublock-tl, .art-vmenublock-br, .art-vmenublock-bl, .art-vmenublock-tc, .art-vmenublock-bc,.art-vmenublock-cr, .art-vmenublock-cl
{
  position: absolute;
}

.art-vmenublock-tr, .art-vmenublock-tl, .art-vmenublock-br, .art-vmenublock-bl
{
  width: 2px;
  height: 2px;
  background-image: url('images/vmenublock_s.png');
}

.art-vmenublock-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 1px, 1px, auto);
}

.art-vmenublock-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 1px, 1px);
}

.art-vmenublock-bl
{
  bottom: 0;
  left: 0;
  clip: rect(1px, 1px, auto, auto);
}

.art-vmenublock-br
{
  bottom: 0;
  right: 0;
  clip: rect(1px, auto, auto, 1px);
}

.art-vmenublock-tc, .art-vmenublock-bc
{
  left: 1px;
  right: 1px;
  height: 2px;
  background-image: url('images/vmenublock_h.png');
}

.art-vmenublock-tc
{
  top: 0;
  clip: rect(auto, auto, 1px, auto);
}

.art-vmenublock-bc
{
  bottom: 0;
  clip: rect(1px, auto, auto, auto);
}

.art-vmenublock-cr, .art-vmenublock-cl
{
  top: 1px;
  bottom: 1px;
  width: 2px;
  background-image: url('images/vmenublock_v.png');
}

.art-vmenublock-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 1px);
}

.art-vmenublock-cl
{
  left: 0;
  clip: rect(auto, 1px, auto, auto);
}

.art-vmenublock-cc
{
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background-color: #DADFE1;
}

.art-vmenublock
{
  margin: 10px;
}

/* end Box, Block, VMenuBlock */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-vmenublockcontent-body
{
  position: relative;
  padding: 0;
}


.art-vmenublockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-vmenublockcontent-body
{
  position: relative;
  padding: 0;
}


/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.art-vmenu, ul.art-vmenu li
{
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 0;
}

ul.art-vmenu ul
{
  display: none;
}

ul.art-vmenu ul.active
{
  display: block;
}
/* end VMenu */

/* begin VMenuItem */
ul.art-vmenu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 28px;
  cursor: pointer;
  text-decoration: none;
}

ul.art-vmenu li.art-vmenu-separator
{
  display: block;
  padding: 0 0 0 0;
  margin: 0;
  font-size: 1px;
}

ul.art-vmenu .art-vmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  border: none;
}

ul.art-vmenu a .r, ul.art-vmenu a .l
{
  position: absolute;
  display: block;
  top: 0;
  height: 94px;
  background-image: url('images/vmenuitem.png');
}

ul.art-vmenu a .l
{
  left: 0;
  right: 27px;
}

ul.art-vmenu a .r
{
  width: 884px;
  right: 0;
  clip: rect(auto, auto, auto, 857px);
}

ul.art-vmenu a .t, ul.art-vmenu ul a
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
}

ul.art-vmenu a .t
{
  display: block;
  position:relative;
  top:0;
  line-height: 28px;
  color: #445055;
  padding: 0 20px 0 32px;
  margin-left:0;
  margin-right:0;
}

ul.art-vmenu a.active .l, ul.art-vmenu a.active .r
{
  top: -66px;
}

ul.art-vmenu a.active .t
{
  color: #1F5775;
}

ul.art-vmenu a:hover .l, ul.art-vmenu a:hover .r
{
  top: -33px;
}

ul.art-vmenu a:hover .t
{
  color: #424D52;
}


/* end VMenuItem */

/* begin VMenuSubItem */
ul.art-vmenu ul, ul.art-vmenu ul li
{
  margin: 0;
  padding: 0;
}

ul.art-vmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 20px;
  overflow: visible;
  background-image: url('images/vsubitem.gif');
  background-position: 25px 0;
  background-repeat: repeat-x;
  padding-left: 25px;
}


ul.art-vmenu ul span, ul.art-vmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

ul.art-vmenu ul a, ul.art-vmenu ul a:link, ul.art-vmenu ul a:visited, ul.art-vmenu ul a:hover, ul.art-vmenu ul a:active, ul.art-vmenu ul span, ul.art-vmenu ul span span
{
  line-height: 20px;
  color: #2B3336;
  font-size: 11px;
  margin-left: 0;
}

ul.art-vmenu ul
{
    margin:0 0 2px 0;
}

ul.art-vmenu ul ul
{
  margin:0 0 2px 0;
}

ul.art-vmenu ul li.art-vsubmenu-separator
{ 
  display: block;
  margin: 0;
  font-size: 1px;
  padding: 1px 0 1px 0;
 }

ul.art-vmenu ul .art-vsubmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  margin: 0;
  border: none;
}

ul.art-vmenu ul li.art-vmenu-separator-first
{
    padding-bottom:2px;
}

ul.art-vmenu ul li li a
{
  background-position: 50px 0;
  padding-left: 50px;
}

ul.art-vmenu ul li li li a
{
  background-position: 75px 0;
  padding-left: 75px;
}

ul.art-vmenu ul li li li li a
{
  background-position: 100px 0;
  padding-left: 100px;
}

ul.art-vmenu ul li li li li li a
{
  background-position: 125px 0;
  padding-left: 125px;
}


ul.art-vmenu ul li a.active
{
  color: #14394D;
  background-position: 25px -50px;
}

ul.art-vmenu ul li li a.active
{
  background-position: 50px -50px;
}

ul.art-vmenu ul li li li a.active
{
  background-position: 75px -50px;
}

ul.art-vmenu ul li li li li a.active
{
  background-position: 100px -50px;
}

ul.art-vmenu ul li li li li li a.active
{
  background-position: 125px -50px;
}



ul.art-vmenu ul li a:hover, ul.art-vmenu ul li a:hover.active
{
  color: #2B3336;
  background-position: 25px -25px;
}


ul.art-vmenu ul li li a:hover, ul.art-vmenu ul li li a:hover.active
{
  background-position: 50px -25px;
}

ul.art-vmenu ul li li li a:hover, ul.art-vmenu ul li li li a:hover.active
{
  background-position: 75px -25px;
}

ul.art-vmenu ul li li li li a:hover, ul.art-vmenu ul li li li li a:hover.active
{
  background-position: 100px -25px;
}

ul.art-vmenu ul li li li li li a:hover, ul.art-vmenu ul li li li li li a:hover.active
{
  background-position: 125px -25px;
}
/* end VMenuSubItem */

/* begin Box, Block */
.art-block
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-block-body
{
  position: relative;
  padding: 0;
}


.art-block
{
  margin: 10px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-blockheader
{
  margin-bottom: 0;
}

.art-blockheader, .art-blockheader h3.t
{
  position: relative;
  height: 34px;
}

.art-blockheader h3.t,
.art-blockheader h3.t a,
.art-blockheader h3.t a:link,
.art-blockheader h3.t a:visited, 
.art-blockheader h3.t a:hover
{
  color: #2D431E;
  font-size: 14px;
}

.art-blockheader h3.t
{
  margin:0;
  padding: 0 10px 0 10px;
  white-space: nowrap;
  line-height: 34px;	
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 3px;
  min-height: 3px;
}

.art-blockcontent-body
{
  position: relative;
  padding: 11px;
}

.art-blockcontent-tr, .art-blockcontent-tl, .art-blockcontent-br, .art-blockcontent-bl, .art-blockcontent-tc, .art-blockcontent-bc,.art-blockcontent-cr, .art-blockcontent-cl
{
  position: absolute;
}

.art-blockcontent-tr, .art-blockcontent-tl, .art-blockcontent-br, .art-blockcontent-bl
{
  width: 2px;
  height: 2px;
  background-image: url('images/blockcontent_s.png');
}

.art-blockcontent-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 1px, 1px, auto);
}

.art-blockcontent-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 1px, 1px);
}

.art-blockcontent-bl
{
  bottom: 0;
  left: 0;
  clip: rect(1px, 1px, auto, auto);
}

.art-blockcontent-br
{
  bottom: 0;
  right: 0;
  clip: rect(1px, auto, auto, 1px);
}

.art-blockcontent-tc, .art-blockcontent-bc
{
  left: 1px;
  right: 1px;
  height: 2px;
  background-image: url('images/blockcontent_h.png');
}

.art-blockcontent-tc
{
  top: 0;
  clip: rect(auto, auto, 1px, auto);
}

.art-blockcontent-bc
{
  bottom: 0;
  clip: rect(1px, auto, auto, auto);
}

.art-blockcontent-cr, .art-blockcontent-cl
{
  top: 1px;
  bottom: 1px;
  width: 2px;
  background-image: url('images/blockcontent_v.png');
}

.art-blockcontent-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 1px);
}

.art-blockcontent-cl
{
  left: 0;
  clip: rect(auto, 1px, auto, auto);
}

.art-blockcontent-cc
{
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background-color: #FFFFFF;
}

.art-blockcontent-body, 
.art-blockcontent-body li, 
.art-blockcontent-body a,
.art-blockcontent-body a:link,
.art-blockcontent-body a:visited,
.art-blockcontent-body a:hover
{
  color: #242B2D;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}

.art-blockcontent-body p
{
  margin: -5px 0 0 0;
}

.art-blockcontent-body a
{
  color: #25698D;

}

.art-blockcontent-body a:link
{
  color: #25698D;

}

.art-blockcontent-body a:visited, .art-blockcontent-body a.visited
{
  color: #8899A0;
  text-decoration: none;
}

.art-blockcontent-body a:hover, .art-blockcontent-body a.hover
{
  color: #56A7D2;
  text-decoration: none;

}

.art-blockcontent-body ul li
{
  line-height: 125%;    
  color: #121517;

  padding: 0 0 0 13px;
  background-image: url('images/blockcontentbullets.png');
  background-repeat: no-repeat;
}/* end Box, BlockContent */

/* begin Button */
.art-button-wrapper a.art-button,
.art-button-wrapper a.art-button:link,
.art-button-wrapper input.art-button,
.art-button-wrapper button.art-button
{
  text-decoration: none;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  position:relative;
  top:0;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #DADFE1 !important;
  width: auto;
  outline: none;
  border: none;
  background: none;
  line-height: 30px;
  height: 30px;
  margin: 0 !important;
  padding: 0 14px !important;
  overflow: visible;
  cursor: pointer;
}

.art-button img, .art-button-wrapper img
{
  margin: 0;
  vertical-align: middle;
}

.art-button-wrapper
{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.firefox2 .art-button-wrapper
{
  display: block;
  float: left;
}

input, select, textarea
{
  vertical-align: middle;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}

.art-block select 
{
    width:96%;
}

.art-button-wrapper.hover .art-button, .art-button-wrapper.hover a.art-button:link, .art-button:hover
{
  color: #C7E2F0 !important;
  text-decoration: none !important;
}

.art-button-wrapper.active .art-button, .art-button-wrapper.active a.art-button:link
{
  color: #D2D8DB !important;
}

.art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r
{
  display: block;
  position: absolute;
  height: 100px;
  margin: 0;
  padding: 0;
  background-image: url('images/button.png');
}

.art-button-wrapper .art-button-l
{
  left: 0;
  right: 7px;
}

.art-button-wrapper .art-button-r
{
  width: 407px;
  right: 0;
  clip: rect(auto, auto, auto, 400px);
}

.art-button-wrapper.hover .art-button-l, .art-button-wrapper.hover .art-button-r
{
  top: -35px;
}

.art-button-wrapper.active .art-button-l, .art-button-wrapper.active .art-button-r
{
  top: -70px;
}

.art-button-wrapper input
{
  float: none !important;
}
/* end Button */

/* begin Box, Post */
.art-post
{
  position: relative;
  margin: 0 auto;
  min-width: 11px;
  min-height: 11px;
}

.art-post-body
{
  position: relative;
  padding: 16px;
}

.art-post-tr, .art-post-tl, .art-post-br, .art-post-bl, .art-post-tc, .art-post-bc,.art-post-cr, .art-post-cl
{
  position: absolute;
}

.art-post-tr, .art-post-tl, .art-post-br, .art-post-bl
{
  width: 10px;
  height: 10px;
  background-image: url('images/post_s.png');
}

.art-post-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 5px, 5px, auto);
}

.art-post-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 5px, 5px);
}

.art-post-bl
{
  bottom: 0;
  left: 0;
  clip: rect(5px, 5px, auto, auto);
}

.art-post-br
{
  bottom: 0;
  right: 0;
  clip: rect(5px, auto, auto, 5px);
}

.art-post-tc, .art-post-bc
{
  left: 5px;
  right: 5px;
  height: 10px;
  background-image: url('images/post_h.png');
}

.art-post-tc
{
  top: 0;
  clip: rect(auto, auto, 5px, auto);
}

.art-post-bc
{
  bottom: 0;
  clip: rect(5px, auto, auto, auto);
}

.art-post-cr, .art-post-cl
{
  top: 5px;
  bottom: 5px;
  width: 10px;
  background-image: url('images/post_v.png');
}

.art-post-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 5px);
}

.art-post-cl
{
  left: 0;
  clip: rect(auto, 5px, auto, auto);
}

.art-post-cc
{
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: #FFFFFF;
}

.art-post
{
  margin: 7px;
}

a img
{
  border: 0;
}

.art-article img, img.art-article
{
  border: solid 1px #8E9EA4;
  margin: 7px;
}

.art-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.art-article table, table.art-article
{
  border-collapse: collapse;
  margin: 1px;
	font-weight: 700;
}

.art-article th, .art-article td
{
  padding: 2px;
  border: solid 1px #8E9EA4;
  vertical-align: top;
  text-align: left;
}

.art-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

/* end Box, Post */

/* begin PostHeaderIcon */
h2.art-postheader
{
  color: #394347;

}

h2.art-postheader, 
h2.art-postheader a, 
h2.art-postheader a:link, 
h2.art-postheader a:visited,
h2.art-postheader a.visited,
h2.art-postheader a:hover,
h2.art-postheader a.hovered
{
  font-size: 24px;
}

h2.art-postheader a, h2.art-postheader a:link
{
  text-align: left;
  text-decoration: none;
  color: #2B78A1;
}

h2.art-postheader a:visited, h2.art-postheader a.visited
{

  color: #71868E;
}


h2.art-postheader a:hover,  h2.art-postheader a.hovered
{


  color: #56A7D2;
}

/* end PostHeaderIcon */

/* begin PostIcons, PostHeaderIcons */
.art-postheadericons,
.art-postheadericons a,
.art-postheadericons a:link,
.art-postheadericons a:visited,
.art-postheadericons a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  color: #4B585D;
}

.art-postheadericons
{
  padding: 1px;

}

.art-postheadericons a, .art-postheadericons a:link
{
  text-decoration: none;
  color: #191D1F;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
  font-style: italic;
  font-weight: normal;
  color: #4F5E63;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
  font-style: italic;
  font-weight: normal;
  text-decoration: underline;
  color: #318AB9;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostBullets */
.art-post ol, .art-post ul
{
  margin: 1em 0 1em 2em;
  padding: 0;
}

.art-post li
{
  font-size: 13px;
}

.art-post li ol, .art-post li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

.art-post li
{
  color: #394347;
  margin: 0 0 0 -10px;
  padding: 0;
}


.art-post li
{
  padding: 0 0 0 16px;
}

.art-post ol>li
{
  background: none;
  padding-left: 0;/* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.art-post ul>li
{
  background-image: url('images/postbullets.png');
  background-repeat: no-repeat;
  padding-left: 16px;/* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
  overflow-y: hidden;
}


/* end PostBullets */

/* begin PostQuote */
.art-postcontent blockquote,
.art-postcontent blockquote a,
.art-postcontent blockquote a:link,
.art-postcontent blockquote a:visited,
.art-postcontent blockquote a:hover
{
  color: #050F14;
  font-size: 13px;
}





.art-postcontent blockquote
{
   border: solid 1px #A4B1B6;
  margin: 10px 10px 10px 50px;
  padding: 6px 6px 6px 30px;
  background-color: #BBC5C9;
  background-image: url('images/postquote.png');
  background-position: left top;
  background-repeat: no-repeat;/* makes blockquote not to align behind the image if they are in the same line */
  overflow: auto;
}

/* end PostQuote */

/* begin Footer */
.art-footer
{
  position: relative;
  overflow: hidden;
  width: 100%;
}

.art-footer-b 
{
  position: absolute;
  left:5px;
  right:5px;
  bottom:0;
  height:5px;
  background-image: url('images/footer_b.png');
}

.art-footer-r, .art-footer-l
{
  position: absolute;
  height:5px;
  background-image: url('images/footer_s.png');
  bottom: 0;
}

.art-footer-l
{
  left: 0;
  width:5px;
}

.art-footer-r
{
  right: 0;
  width:10px;
  clip: rect(auto, auto, auto, 5px);
}

.art-footer-t
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5px;
  background-image: url('images/footer_t.png');
  background-position: left bottom;
}

.art-footer-body
{
    position:relative;
    padding: 5px;
}


.art-footer-text p
{
  padding:0;
  margin:0;
}

.art-footer,
.art-footer a,
.art-footer a:link,
.art-footer a:visited,
.art-footer a:hover
{
    color: #000000;
    font-size: 11px;
}

.art-footer-text
{
  padding: 0 10px 0 10px;

}

.art-footer,
.art-footer-text,
.art-footer p
{
  text-align: center;
}

.art-footer a,
.art-footer a:link
{
  color: #486A2F;
  text-decoration: none;
}

.art-footer a:visited
{
  color: #5B6B71;

}

.art-footer a:hover
{
  color: #5F8E3E;


}
/* end Footer */

/* begin PageFooter */
.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #7A8D94;
}

.art-page-footer
{
  margin: 1em;
  text-align: center;
  text-decoration: none;
  color: #71868E;
}
/* end PageFooter */

/* begin LayoutCell, sidebar1 */

.art-content-layout .art-sidebar1
{
  background-image: url('images/sidebar_bg.png');
  width: 175px;
}

/* end LayoutCell, sidebar1 */

/* begin LayoutCell, content */




.art-content-layout .art-content .art-block
{
  background-image: url('images/sidebar_bg.png');
}
/* end LayoutCell, content */



textarea#comment{width:100%;}

.commentlist, .commentlist li
{
  background: none;
}

.commentlist li li
{
  margin-left: 30px;
}

.commentlist li .avatar
{
  float: right;
  border: 1px solid #eee;
  padding: 2px;
  margin: 1px;
  background: #fff;
}

.commentlist li cite
{
  font-size: 1.2em;
}

#commentform textarea
{
  width: 100%;
}

img.wp-smiley
{
  border: none;
  margin: 0;
  padding: 0;
}

.navigation
{
  display: block;
  text-align: center;
}

/* Recommended by http://codex.wordpress.org/CSS */
/* Begin */
.aligncenter, div.aligncenter, .art-article .aligncenter img, .aligncenter img.art-article, .aligncenter img, img.aligncenter
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft
{
  float: left;
}

.alignright
{
  float: right;
}

.alignright img, img.alignright
{
  margin: 1em;
  margin-right: 0;
}

.alignleft img, img.alignleft
{
  margin: 1em;
  margin-left: 0;
}

.wp-caption
{
  border: 1px solid #ddd;
  background-color: #f3f3f3;
  padding-top: 4px;
  margin: 10px;
}

.wp-caption img
{
  margin: 0;
  padding: 0;
  border: 0 none;
}

.wp-caption p.wp-caption-text
{
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0;
}

.wp-caption, .wp-caption p
{
    text-align: center;
}
/* End */


.hidden
{
  display: none;
}

/* Calendar */
#wp-calendar {
  empty-cells: show;
  margin: 10px auto 0;
  width: 155px;
}

#wp-calendar #next a {
  padding-right: 10px;
  text-align: right;
}

#wp-calendar #prev a {
  padding-left: 10px;
  text-align: left;
}

#wp-calendar a {
  display: block;
}

#wp-calendar caption {
  text-align: center;
  width: 100%;
}

#wp-calendar td {
  padding: 3px 0;
  text-align: center;
}

.gallery {
  letter-spacing: normal;
}

.art-content {
  position: relative;
  z-index: 1;   
}

#todays-events{
  position: relative;
  z-index: 11;    
}

#upcoming-events{
  position: relative;
  z-index: 10;    
}

img.wp-post-image 
{
    margin:0 5px 5px 0 !important;
}

div.art-footer li, ul.commentlist li
{
    list-style-image: none;
    background:none;
    list-style-type:none;
    
}

div.art-footer div.art-content-layout,  
div.art-content div.art-content-layout
{
    margin:0 auto;
    width:100%;
}

div.art-footer ul
{
    padding-left: 0;
}

div.art-footer ul li ul
{
    padding-left: 20px;
}


div.art-layout-cell-size1 
{
    width:100%;
}

div.art-layout-cell-size2 
{
    width:50%;
}
div.art-layout-cell-size3 
{
    width:33%;
}

div.art-layout-cell-size4
{
    width:25%;
}

div.art-author-info img.avatar 
{
	float:left;	
	margin-top:0;
}

.fieldHidden
{
	display:none;
}

